/* CSSTransition动画类 */

/* appear */
/* appear是初始化时显示动动画*/

/* 进入动画 */
.fade-appear,
.fade-enter {
  opacity: 0;
}
.fade-appear-active,
.fade-enter-active {
  opacity: 1;
  transition: opacity 1s linear;
}

/* 退出动画 */
.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 1s linear;
}
