:root {
  --primary-color: #ff6700;
  --line-color: #faf8f9;
  --theme-linear-gradient: linear-gradient(90deg, #fa8c1d, #fcaf3f);
}
:root:root {
  /* search图标颜色 */
  --van-search-left-icon-color: var(--primary-color);
}

body {
  font-size: 14px;
}

.bottom-gray-line {
  border-bottom: 1px solid var(--line-color);
}